.logo-header[data-background-color=sota] {
    background: #134238!important;
}
.navbar-header[data-background-color=sota] {
    background: #12352e!important;
}
.bg-primary-gradient {
    /*background: linear-gradient(-45deg,#385851,#073a2e)!important;*/
    background: linear-gradient(-45deg,#717171,#828282)!important;
}
.sidebar[data-background-color=sota] {
    background: #0C231E!important;
}
.sidebar.sidebar-style-2 .nav.nav-primary>.nav-item.active>a {
    background: #B38E5D!important;
    /*box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1),4px 4px 15px -5px rgba(21,114,232,.4)!important;*/
}
.sidebar .nav.nav-primary>.nav-item.active a:before, .sidebar[data-background-color=white] .nav.nav-primary>.nav-item.active a:before {
    background: #B38E5D!important;
}
.sidebar .nav.nav-primary>.nav-item.active a i, .sidebar[data-background-color=white] .nav.nav-primary>.nav-item.active a i {
    color: #8d9498!important;
}
.quick-actions.quick-actions-info .quick-actions-header {
    background: #B38E5D !important;
}
.quick-actions.quick-actions-info:after {
    border-bottom-color: #B38E5D!important;
}
/*=========================== reset clases principales ===========================*/
.btn-primary111111 {
    background-color: #319db5 !important;
    color: #FFF !important;
}
.btn-success {
    background: #18a689!important;
    border-color: #18a689!important;
}
.btn-warning {
    background-color: #ff9122 !important;
    color: #fff !important;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success  {
    background: #13725f!important;
    border-color: #13725f!important;
    color: #FFF !important;
}
/*============== fin del reset de clases principales =================*/
/*=========================== tarjetas de modulos ===========================*/
.card-success-modulos-1 {
    background-color: #00796b !important;
    color:#FFF !important;
}
.card-success-modulos-1 .btn-light {
    color:#00796b !important;
}
.card-info-modulos-2{
    background-color: #299DBE !important;
    color:#FFF !important;
    /*color:#48abf7!important;*/
}
.card-info-modulos-2 .btn-light {
    color:#299DBE !important;
}
.card-modulos-3{
    background-color: #B38E5D !important;
    color:#FFF !important;
}
.card-modulos-3 .btn-light {
    color: #B38E5D !important;
}
/*=========================== fin clases tarjetas===========================*/
/*=========================== overly /*===========================*/
.loader-overlay.loaded {
    -moz-opacity: 0;
    -webkit-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
    zoom: 1;
}
.loaded {
    display: none;
}
.loader-overlay {
    background: rgba(45, 46, 47, 0.8);
}
.loader-overlay {
    -moz-opacity: 1;
    -moz-perspective: 10000;
    -moz-perspective: 10000px;
    -moz-transition: all 800ms ease-in-out;
    -o-transition: all 800ms ease-in-out;
    -webkit-opacity: 1;
    -webkit-perspective: 10000;
    -webkit-perspective: 10000px;
    -webkit-transition: all 800ms ease-in-out;
    background: #2D2E2F;
    bottom: 0;
    filter: alpha(opacity=100);
    left: 0;
    opacity: 1;
    overflow: hidden;
    perspective: 10000px;
    perspective: 10000px;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 800ms ease-in-out;
    z-index: 10000;
    zoom: 1;
}
.spinner {
    width: 23em;
}
.spinner {
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    bottom: 0;
    height: 2em;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    user-select: none;
    width: 10em;
}
.spinner .bounce1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s;
    margin-right: 1em;
}
.spinner>div {
    -moz-border-radius: 100%;
    -webkit-animation-fill-mode: both;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-border-radius: 100%;
    animation-fill-mode: both;
    animation: bouncedelay 1.4s infinite ease-in-out;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    height: 1em;
    width: 1em;
}
.spinner .bounce2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
    margin-right: 1em;
}
#abortRequest {
    margin-top: 1em;
    margin-left: 1.5em;
}

/*=========== fin de estilos para el overlay ============*/

/*=========== adaptando la funcionalidad para scroll en modales ============*/

.modal-dialog-scrollable {
    display: -ms-flexbox;
    display: flex;
    max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto;
}

@media (min-width: 576px) {
    .modal-dialog-scrollable {
        max-height: calc(100% - 3.5rem);
    }
}

@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        max-width: 900px !important;/*800px*/
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px !important;
    }
}

/*=========== adaptando la funcionalidad para scroll en modales ============*/

/*=========== utilidades generales ============*/
.custom-file-input:lang(es)~.custom-file-label::after{content:"Elegir"}
.overflow-auto {
    overflow:auto!important;
}
.overflow-hidden{
    overflow:hidden!important;
};

/*=========== fin de utilidades generales ============*/