.accordion-acciones .card-title {
    display: inline-block !important;
}
.accordion-acciones .card-title a:hover {
    text-decoration: none !important;        
}
.accordion-acciones .descripcion {
    font-weight: 600;
}
.accordion-acciones .ponderacion{
    font-weight: 600;
    color:#18a689;
}
.accordion-acciones .btn-subaccion, .accordion-acciones .btn-accion{
    cursor: pointer;
    font-size: 75% !important;
}
.accordion-acciones .btn-editar, .accordion-acciones .btn-editar-accion{
    background-color: #ff9122 !important;
}
.accordion-acciones .btn-eliminar, .accordion-acciones .btn-eliminar-accion{
    background-color: #c75757 !important;
}
.accordion-acciones .alert {
    position: relative !important;
    padding: .75rem 1.25rem !important;
    margin-bottom: 1rem !important;
    /*border: 1px solid transparent !important;
    border-radius: .25rem !important;*/

    -webkit-box-shadow:none !important;
    box-shadow:none !important;
}
.accordion-acciones .alert-info {
    color: #356A75 !important;
    background-color: #deedf2 !important;
    border-color: #b8daff !important;
}
.accordion-acciones .alert-warning {
    color: #856404 !important;
    background-color: #f3e6d1 !important;
}

